{% extends 'base.html' %}
{% block title %}Login{% endblock %}

<!-- {% block content %}
<body class='body'>
<form id="login-form" method="post" action="{% url 'django.contrib.auth.models.login' %}">
    {% csrf_token %}
      <table class="details">
        <label for="id_username">Username</label>
        <input id="id_username" name="username" type="text" class="details">
        <label for="id_password">Password</label>
        <input id="id_password" name="password" type="password" class="details">
    <input type="submit" value="Login" class="details" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
      </table>
</body>
{% endblock %} -->

<!-- <body class="body">
  <h1 class="headercontainer">Welcome to My Books</h1>
      <a href="{% url 'books' %}">Home</a>
    </div>
    <div>
      <form action="" method="post">
        {% csrf_token %}
        <table class="details">
          {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" class="button">
      </form>
    </div>
</body>
{% endblock %} -->