{% extends 'base.html' %}
{% block content %}

<table>
  <thead>
    <tr>
      <th> My Books</th>

    </tr>
  </thead>



  <tbody>
    {% for book in books %}
    <tr>
      <td><a href="{% url 'books-detail' book.pk %}">{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.description}}</td>
      <td>{{book.url}}</td>
      <td><a href="{% url 'edit-book' pk=book.pk %}" class="button">Edit Book</a></td>
      <td><a href="{% url 'delete-book' pk=book.pk %}" class="button-danger">Delete Book</a></td>
    </tr></a>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'new-book' %}" class="button">New Book</a>

{% endblock %}